In this notebook we will be getting the necessary latitudes and longitudes for our project. First we will load our libraries:

In [84]:
import pandas as pd
import numpy as np
!pip install geocoder
import geocoder

Requirement already satisfied: geocoder in c:\users\john\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: requests in c:\users\john\anaconda3\lib\site-packages (from geocoder) (2.21.0)
Requirement already satisfied: click in c:\users\john\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: future in c:\users\john\anaconda3\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: six in c:\users\john\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: ratelim in c:\users\john\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\john\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\john\anaconda3\lib\site-packages (from requests->geocoder) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\john\anaconda3\lib\site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\john\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in c:\users\john\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.0)

Next we will load our cleaned and organized data frame with postal codes and neighborhood information. I have included the file on github:

In [85]:
df = pd.read_csv (r'C:\Users\John\Desktop\notebooks\toronto.csv')
df = df.drop('Unnamed: 0', axis=1)

We need to add in the latitude and longitude of each postal code into the data frame. So we will go ahead and initiate the columns with 1s as place holders.

In [86]:
df['Latitude'] = 1.0
df['Longitude']=1.0
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",1.0,1.0
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",1.0,1.0
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",1.0,1.0
3,M1G,Scarborough,Woburn,1.0,1.0
4,M1H,Scarborough,Cedarbrae,1.0,1.0

Great! Now we need to pull the coordinates from geocoder. I have tried the recommeded code, .google many times without the ability to get it to work. I have insted used .arcgis which seems to work very well. We will tie it all up with a little for loop to write the coordinates into the dataframe.

In [90]:
for index, row in df.iterrows():
    g = geocoder.arcgis('{}, Toronto, Ontario'.format(row.PostalCode))
    lat_lng_coords = g.latlng
    df.at[index,'Latitude'] =lat_lng_coords[0]
    df.at[index,'Longitude'] =lat_lng_coords[1]

In [91]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.785730,-79.158750
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765690,-79.175256
3,M1G,Scarborough,Woburn,43.768359,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

So it looks like everything is in order! If we compare our results to the Geospatial coordinates csv, we will find that there is a slight difference in the second or third decimal place. It makes sense since I used a different provider. So I do not believe that there is an issue here.

Now we will output the data to a CSV and continue in a separate notebook!

In [92]:
print('The final DataFrame shape is {}'.format(df.shape),'\n')

The final DataFrame shape is (103, 5)

In [94]:
df.to_csv('toronto_cords.csv')

Thank you for reviewing!